.background {
  color: #009;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  position: relative;
}

/* ///////////// */

.block {
  position: absolute;
  left: 25%;
  height: 300px;
  width: 200px;
  background: #009;
  color: yellow;
}
