.edit_prew {
  height: auto;
  width: 100%;
  background-color: orange;
  overflow: hidden;
  transition: ease 1.5s;
}
.edit_btn {
  cursor: pointer;
  height: 30px;
  transition: ease 1.5s;
}
.title {
  font-size: 16px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.range {
  width: 150px;
}
.text {
  font-size: 12px;
  text-align: center;
  width: 30px;
}
.detector {
  height: 0px;
  transition: all ease 0.5s;
  opacity: 0;
}

/* ///////// */

.style_button {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.underline {
  text-decoration: underline;
}
.line_through {
  text-decoration: line-through;
}
.overline {
  text-decoration: overline;
}
.clear {
  text-decoration: none;
}
.style_button div {
  pointer-events: none;
}
.text_area {
  height: 80px;
  width: 200px;
}
.icon {
  cursor: pointer;
}
