.App {
  text-align: center;
  min-height: calc(100vh - 54px);
  width: 100%;
  user-select: none;
}
.Main_Container {
  height: auto;
  width: auto;
  display: grid;
  margin-top: 54px;
}
.Zabor {
  background-color: #202329;
  height: 100%;
}
@media (max-width: 5000px) {
  .Main_Container {
    grid-template-columns: auto 5px 264px;
  }
}
@media (max-width: 790px) {
  .Main_Container {
    grid-template-columns: auto 5px 33vw;
  }
}
@media (max-width: 300px) {
  .Main_Container {
    grid-template-columns: auto 5px 100px;
  }
}
